.menu{
    margin-top: 30px;
    margin-bottom: 20px;
}
.chicken,.beef,.sushi{
    margin: 10px 20px;
}
.beef{
    margin-bottom: 50px;
}
.navbar{
    background-color: rgb(206, 45, 45);
}
.navbar-nav > a:hover{
    border-bottom: 1px solid black;
}